<div>
  <h1>Title</h1>

  <table>
    <tr>
      <th>description</th>
      <th>value</th>
      <th>notes</th>
    </tr>
    <tr>
      <td>bla bla bla</td>
      <td>
        <div>yes<input type="checkbox" /></div>
        <div>no<input type="checkbox" /></div>
      </td>
      <td>notes</td>
    </tr>
    <tr>
      <td>bla bla bla</td>
      <td>
        <div>yes<input type="checkbox" /></div>
        <div>no<input type="checkbox" /></div>
      </td>
      <td>notes</td>
    </tr>
    <tr>
      <td>bla bla bla</td>
      <td>
        <div>yes<input type="checkbox" /></div>
        <div>no<input type="checkbox" /></div>
      </td>
      <td>notes</td>
    </tr>
    <tr>
      <td>bla bla bla</td>
      <td>
        <div>yes<input type="checkbox" /></div>
        <div>no<input type="checkbox" /></div>
      </td>
      <td>notes</td>
    </tr>
  </table>
</div>
