<div>
  <h2>{{ isOnline ? "Online" : "Offline" }}</h2>
  <h1>Title</h1>
  <div *ngIf="todos">
    <div *ngFor="let key of keys(todos)">
      <label [for]="key">{{ key }}</label
      ><input
        type="checkbox"
        [name]="key"
        [id]="key"
        [(ngModel)]="todos[key]"
      />
    </div>

    <button type="submit" (click)="onSave()">Save</button>
  </div>
  <span *ngIf="loading">loading...</span>
  <!-- <button type="button" *ngIf="needSync" (click)="onSave()">Sync</button> -->

  <button (click)="onGetDataFromFlutter()">get Data from Flutter</button>
  <span>{{ dataFromFlutter | json }}</span>
</div>
